.intro {
    height: calc(100vh - 4rem);
    text-align: center;
    width: 100%;
    padding-top: 11%;
}

.intro > h1 {
    font-size: 3.5rem;
    width: 100%;
}
.intro > p{
    font-size: 1.2rem;
    padding-top: 2.5rem;
}



/* circle background */
.circle {
    width: 300px;
    height: 200px;
    border-radius: 50%;
    background-color: var(--orange);
    position: absolute;
    filter: blur(100px);
    z-index: -11;
}

.circle.top-left {
    top: 120px;
    left: -100px;
}

.circle.bottom-right {
    bottom: 20px;
    right: -100px;
}
/* end circle background */

.intro-buttons{
    margin-top: 3rem;
}
.button-primary{
    margin-right: 1rem;
}