.intro {
    height: calc(100vh - 4rem);
    text-align: center;
    width: 100%;
    padding-top: 20%;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
}
.title-subtitle{
    margin-top: 2.5rem;
}

/* circle background */
.circle {
    width: 300px;
    height: 200px;
    border-radius: 50%;
    background-color: var(--orange);
    position: absolute;
    filter: blur(100px);
    z-index: -11;
}

.circle.top-left {
    top: 120px;
    left: 0px;
}

.circle.bottom-right {
    bottom: 20px;
    right: 0px;
}
/* end circle background */

.intro-buttons{
    margin-top: 5rem;
}
.button-primary{
    margin-right: 1rem;
}


@media (min-width: 800px){
    .intro {
        padding-top: 11%;
    }
}